<!DOCTYPE="html">
<html>
<head>
    <title>sxhkd Keybinds</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("style") %>
</head>
<body>

    <h1>Simple X Hot Key Daemon Keyboard Visualization</h1>

    <div id="keyboard">
        <% rows.forEach( row => { %>
            <div class="row">
                <% row.forEach( letter => { %>
                    <% let modifierList = "" %>
                    <% for (let modifier in keybinds[letter]) {modifierList+=modifier+" "} %>
                    <div class="key <%= (letter in keybinds) ? 'bound': '' %> <%= modifierList %>" 
                        id="key-<%=letter%>"
                        <% if (letter in keywidths) { %>
                            style="width: <%= keywidths[letter] * 11%>"
                        <% } %>
                    >
                        <%= (letter in displaynames) ? displaynames[letter] : letter %>
                    </div>
                <% }) %>
            </div>
        <% }) %>
    </div>

    <div id="modifiers" class="row"> 
        <% modifiers.forEach(modifier => { %>
            <input type="radio" name="modifier">
                <%= modifier %>
            </input>
        <% }) %>
    </div>

    <% for (let letter in keybinds) { %>
        <% for (let modifier in keybinds[letter]) { %>
            <div id="tooltip-<%= letter %>" class="tooltip">
                <h1><%= letter %></h1>
                <% let source = keybinds[letter][modifier].source %>
                <h2><%= modifier %></h2>
                <h3><%= keybinds[letter][modifier].command %></h3>
                <div class="source">
                    <div>
                        <div class="linenum"><%= source.hotkey_linenum %></div>
                        <div><%= source.hotkey %></div>
                    </div>
                    <div>
                        <div class="linenum"><%= source.command_linenum %></div>
                        <div><%= source.command %></div>
                    </div>
                </div>
            </div>
        <% } %>
    <% } %>

    <script>
        <% for (let letter in keybinds) { %>
            document.getElementById('key-<%=letter%>').onmouseover = function(){
                document.getElementById('tooltip-<%=letter%>').style.display = "block";
            }
            document.getElementById('key-<%=letter%>').onmouseout = function(){
                document.getElementById('tooltip-<%=letter%>').style.display = "none";
            }
        <% } %>
    </script>
    </div>
</body>
<html>
