<!DOCTYPE="html">
<html>
<head>
    <title>sxhkd Keybinds</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("style") %>
</head>
<body>
    <script>
        // <% let str = JSON.stringify(keybinds) %>
        // var keybinds = JSON.parse('<%- str %>')
        // console.log(keybinds)
        function myMoveFunction(e) {
            let hoveredLetter = e.textContent.trim()
            let words = keybinds[hoveredLetter]
            //let DIV = "<h3>"+hoveredLetter+"</h3>"
            //Object.keys(words).forEach((word) => {
            //    DIV+="<div>"+JSON.stringify(words)+"</div>"
            //})
            document.getElementById("tooltipInfoDump").textContent = hoveredLetter 
        }
    </script>

    <h1>Simple X Hot Key Daemon Keyboard Visualization</h1>

    <div id="keyboard">
        <% rows.forEach( row => { %>
        <div class="row">
            <% row.forEach( letter => { %>
            <div class="key <%= (letter.length>=4) ? 'qu8' : 'normal'%>" 
            <% if(tooltips.hasOwnProperty(letter)){ %>
                onmousemove="myMoveFunction(this)"
            <% } %>
            <% if (letter in keywidths) { %>
                style="width: <%= keywidths[letter] * 11%>"
            <% } %>
            >
                <%= (letter in displaynames) ? displaynames[letter] : letter %>
            </div>
            <% }) %>
        </div>
        <% }) %>
    </div>

    <% for (let letter in keybinds) { %>
        <div class="tooltip">
            <h1><%= letter %></h1>
            <% for (let modifier in keybinds[letter]) { %>
                <% let source = keybinds[letter][modifier].source %>
                <h2><%= modifier %></h2>
                <h3><%= keybinds[letter][modifier].command %></h3>
                <div class="source">
                    <div>
                        <div class="linenum"><%= source.hotkey_linenum %></div>
                        <div><%= source.hotkey %></div>
                    </div>
                    <div>
                        <div class="linenum"><%= source.command_linenum %></div>
                        <div><%= source.command %></div>
                    </div>
                </div>
            <% } %>
        </div>
    <% } %>

    <div id="tooltipInfoDump">

    </div>
</body>
<html>
